<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LoremPic</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/sheet.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand">LoremPic</a>
            <a class="btn btn-outline-dark" href="https://gitlab.com/cryptographer/lorempic">GitLab</a>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <figure id="image-container" class="mt-4 mb-4">
                    <img id="image" src="/640/480" alt="Generated image.">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="alert alert-secondary d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" fill="currentColor">
                        <use href="{{ url_for('static', path='/svg/') }}icons.svg#icon-link"/>
                    </svg>
                    <div id="link">
                        https://lorempic.com/640/480
                    </div>
                    <div class="d-flex ms-auto">
                        <svg class="flex-shrink-0 me-2" width="24" height="24" fill="currentColor" onclick="copyToClipboard()">
                            <use id="clip" href="{{ url_for('static', path='/svg/') }}icons.svg#icon-clipboard"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="form-floating mb-3">
                    <input id="width" class="form-control" type="text" placeholder="Width">
                    <label for="width">Width* (px)</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="form-floating mb-3">
                    <input id="height" class="form-control" type="text" placeholder="Height">
                    <label for="height">Height* (px)</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="form-floating mb-3">
                    <input id="border" class="form-control" type="text" placeholder="Border">
                    <label for="border">Border Color (hex)</label>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="form-floating mb-3">
                    <input id="fill" class="form-control" type="text" placeholder="Fill">
                    <label for="fill">Fill Color (hex)</label>
                </div>
            </div>
            <div class="col-sm-12 col-xl-4">
                <button id="img-button" class="w-100 btn btn-lg btn-outline-primary" onclick="updateImage()">Generate</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>About</h2>
                <p>LoremPic is a Python project that uses <a href="https://fastapi.tiangolo.com/">FastAPI</a> and <a href="https://python-pillow.org/">Pillow</a> to generate placeholder images. The site uses <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://feathericons.com/">Feather</a> icons.</p>

                <h2>Usage</h2>
                <p>You can request an image by providing an equal width and height as one dimension:</p>
                <pre><kbd>&lt;img src="https://lorempic.com/size"&gt;</kbd></pre>
                <pre><kbd>&lt;img src="https://lorempic.com/400"&gt;</kbd></pre>
                <img class="mb-3" src="/400" alt="Generated image.">

                <p>Or provide the width and height separately:</p>
                <pre><kbd>&lt;img src="https://lorempic.com/width/height"&gt;</kbd></pre>
                <pre><kbd>&lt;img src="https://lorempic.com/400/200"&gt;</kbd></pre>
                <img class="mb-3" src="/400/200" alt="Generated image.">

                <p>You can also specify the border and fill colors as three or six digit hex color codes:</p>
                <pre><kbd>&lt;img src="https://lorempic.com/size/border/fill"&gt;</kbd></pre>
                <pre><kbd>&lt;img src="https://lorempic.com/400/abc/123456"&gt;</kbd></pre>
                <img class="mb-3" src="/400/abc/123456" alt="Generated image.">
                <pre><kbd>&lt;img src="https://lorempic.com/width/height/border/fill"&gt;</kbd></pre>
                <pre><kbd>&lt;img src="https://lorempic.com/400/200/123456/abc"&gt;</kbd></pre>
                <img src="/400/200/123456/abc" alt="Generated image.">

                <h2 class="mt-4">License</h2>
                <p>The code for this project is available under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>