#image-container {
    position: relative;
    width: 100%;
    height: 500px;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#img-button {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}